[Unit]
Description=My watchlog service

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/watchlog
ExecStart=/opt/watchlog.sh $LOG $EMAIL $PERIOD $IP_COUNT $ADDR_COUNT

